<div class="navbar-light navbar-expand-lg row">
  <div class="col-md-2" >
    <div class="row">
      <div class="col-md-10">
        <a class="nav-link nav-item" routerLink="/" class="navbar-brand"><h3 id="title">Recipe Store</h3></a>
      </div>
      <div class="col-md-2">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nbCollapse" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse col-md-10" id="nbCollapse">
          <div class="col-md-10">
            <ul class="navbar-nav nav-tabs">
              <li routerLinkActive="active"><a class="nav-link nav-item" routerLink="/recipes">Recipes</a> </li>
              <li routerLinkActive="active"><a class="nav-link nav-item" routerLink="/shopping-list">Shopping List</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="navbar-nav">
              <li class="dropdown nav justify-content-end nav-item" appDropdown>
                <a class="dropdown-toggle nav-link" role="button" id="dropdownManage" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    Manage
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownManage">
                    <a class="dropdown-item" (click)="onSaveData()"><li>Save Data</li></a>
                    <a class="dropdown-item"><li>Fetch Data</li></a>
                </ul>
              </li>
            </ul>
          </div>
  </div>
</div>
