#title{
    color:rgb(112, 112, 112);
    border-radius: 10px;
    border-top: solid 2px rgb(212, 212, 212);
    border-bottom: solid 2px rgb(212, 212, 212);
    padding: 10px 12px 10px 12px;
    margin: 0px 0px 0px 15px;
}
.row{
  margin-right: 0%;
}
.nav-tabs{
  padding-bottom: 10px;
}
.dropdown-menu{
  border: solid 1px rgb(212, 212, 212);
}
/* .dropdown-menu>a>li{
  padding: 5px 0px 5px 15px;
  margin: 0%;
} */
.dropdown-menu>a:hover{
  background-color: rgb(230, 230, 230);
}
