#title{
    color:rgb(112, 112, 112);
    border-radius: 10px;
    border-top: solid 2px rgb(222, 226, 230);
    border-bottom: solid 2px rgb(222, 226, 230);
    padding: 10px 12px 10px 12px;
}

.row{
  margin-right: 0%;
}
.nav-tabs{
  padding-bottom: 10px;
}
.dropdown-menu{
  border: solid 1px rgb(222, 226, 230);
}
/* .dropdown-menu>a>li{
  padding: 5px 0px 5px 15px;
  margin: 0%;
} */
.dropdown-menu>a>li:hover::selection{
  background-color: rgb(230, 230, 230);
}

ul>li{
  border-bottom: 1px solid rgb(222, 226, 230);
}

#drop{
  border-bottom: 0px solid rgb(222, 226, 230);
}
