<div class="row">
  <div class="col-md-10">
    <form action="">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success">Safe</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <img class="img-responsive" src="" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description"
                    rows="6"
                    class="form-control">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
              <input type="number" class="form-control">
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
