.img-responsive{
    max-height: 200px;
}
.row{
    margin: 10px 0px 20px 0px;
}
.column{
    float: left;
}
#manageRecipe{
  margin-left: 10%;
}
.dropdown-menu{
  border: solid 1px rgb(212, 212, 212);
}
/* .dropdown-menu>a>li{
  padding: 5px 0px 5px 15px;
} */
.dropdown-menu>a:hover{
  background-color: rgb(230, 230, 230);
}
