<div class="row">
    <div class="col-md-12">
        <h1> {{recipe.name}} </h1>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="col-md-12">
            <img [src]="recipe.imagePath"
            alt="{{recipe.name}} image - [not found]"
            class="img-responsive">
        </div>
    </div>
    <div class="column">
        <div class="col-md-12">
            <div class="btn-group dropdown"
                id="manageRecipe"
                appDropdown
            >
                <button class="btn btn-primary dropdown-toggle"
                      id="dropdownManage"
                      data-toggle="dropdown"
                      data-display="static"
                      aria-haspopup="true"
                      aria-expanded="false">
                    Manage Recipe
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left"
                    aria-labelledby="dropdownManage">
                    <a class="dropdown-item" (click)="onClickAddShoppingList()"><li>Add Ingredients</li></a>
                    <a class="dropdown-item" (click)="onEditRecipe()"><li>Edit Recipe</li></a>
                    <a class="dropdown-item" (click)="onDelete()"><li>Delete Recipe</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let item of recipe.ingredients">
                    {{ item.name }} - ( {{ item.amount }} )
            </li>
        </ul>

    </div>
</div>
