<h3>Select a Recipe</h3>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Recipes:</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
