<div class="row">
    <div class="col-md-12">
        <app-shopping-edit></app-shopping-edit>
        <div class="col-md-8">
          <hr>
          <div class="form-group">
            <label for="filter">Filter by ingredient name: </label>
            <input type="text"
                  class="form-control"
                  id="filter"
                  [(ngModel)]="filterWord">
          </div>
          <hr>
          <ul class="list-group">
            <div class="row">
              <label class="col-md-2" for="number" style="text-align: center;">
                Item
              </label>
              <label class="col-md-4" for="ingredient" style="text-align: justify;">
                Ingredient
              </label>
              <label class="col-md-4" for="ingredient" style="text-align: justify;">
                Amount
              </label>
            </div>

            <a class="list-group-item" style="cursor: pointer"
            *ngFor="let item of ingredientsComp | filter:filterWord:'name'; let i = index"
            (click)="onEditItem(i)"
            >
              <div class="row">
                <span class="col-md-2">
                  {{ i+1 }}
                </span>
                <label class="col-md-4" id="ingredient" >
                  {{ item.name }}
                </label>
                <label class="col-md-2" id="number">
                  [ {{ item.amount }} ]
                </label>
              </div>
            </a>
        </ul>

        </div>

    </div>
</div>
