<a [routerLink]="[idRoute]"
    routerLinkActive="active"
    class="list-group-item clearfix"
    [ngStyle]="{ 'background-image': 'url(' + img + ')'}">
    <span>
        <div class="pull-left" style="margin: 5px; text-align: left;">
            <h4 class="list-group-item-heading"> {{ recipe.name }} </h4>
        </div>    
    </span>
    <!-- <span class="pull-right">
        <img class="img-responsive"
            alt="{{ recipe.name }}"
            [src]="img"
            style="max-height: 40px; margin: 5px; text-align: right; border-radius: 15px;">
    </span> -->
</a>