<a href="#"
    class="list-group-item clearfix"
    (click)="onSelected()">
    <div class="pull-left" style="margin: 5px; text-align: left;">
        <h4 class="list-group-item-heading"> {{ recipe.name }} </h4>
        <!-- <p class="list-group-item-text"> {{ recipe.description }} </p> -->
    </div>
    <span class="pull-right">
        <img class="img-responsive"
            alt="{{ recipe.name }}"
            [src]="recipe.imagePath"
            style="max-height: 80px; margin: 5px; text-align: right;">
        <!-- src="{{item.imagePath}}" -->
    </span>
</a>