<div class="row"  style="margin-top: 40px;">
  <div class="col list-group-item">
    <form (ngSubmit)="onAddOrUpdateItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="col-md-10 form-group">
            <label for="name">Name</label>
            <input type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    ngModel
                    required>
          </div>
          <div class="col-md-5 form-group">
            <label for="amount">Amount</label>
            <input type="number"
                    id="amount"
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$">
          </div>
          <div class="col-md-12 form-group">
              <button type="submit" class="btn btn-success"
                [disabled]="!f.valid"> {{ editMode ? 'Update' : 'Add' }} </button>
              <button type="button" class="btn btn-danger"
                    *ngIf="editMode"
                    (click)="onDelete()">Delete</button>
              <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
          </div>
        </div>
        <div class="col-md-12"
            *ngIf="editMode">
            <label id="note">
              You are editting item: {{ editedItemIndex+1 }}
            </label>
        </div>
      </div>
    </form>
  </div>
</div>
